// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

.cursor-pointer, .svg-inline--fa, .form-check-input {
  cursor: pointer !important;
}

// override toggle checked
.form-check-input:checked {
  background-color: var(--bs-info) !important;
  border-color: var(--bs-info) !important;
}