// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

.cursor-pointer, .svg-inline--fa, .form-check-input {
  cursor: pointer !important;
}

// override toggle checked
.form-check-input:checked {
  background-color: var(--bs-info) !important;
  border-color: var(--bs-info) !important;
}

.btn-circle {
  height: 1.75rem;
  width: 1.75rem;
  padding: 0 0.25rem !important;
  border-radius: 2em !important;
  text-align: center !important;
}


/** override form range thumb */
$form-range-thumb-bg: var(--bs-info) !important;

.form-range {
  &::-webkit-slider-thumb {
    background-color: var(--bs-info) !important;
     border: white;
     @include border-radius($form-range-thumb-border-radius);
  }
}